# Ignore virtual environment
.venv/
venv/
env/

# Ignore data files
*.csv
data/

# Ignore Jupyter checkpoints and VS Code settings
__pycache__/
.ipynb_checkpoints/
.vscode/
*.pyc

# OS-specific
.DS_Store
Thumbs.db
